extend base

block head
    style.
        textarea {
            height: 100%;
        }

        .buttons {
            margin-bottom: 1em;
        }

block buttons
    .buttons
        a(href='#' class='btn btn-sm btn-primary' data-action='save') Save

block cellContent
    textarea(class="form-control")
